<!DOCTYPE html>
<html>

<head>
    <title>easy docs </title>
</head>
<headder>
<a href="#easydocs">skip to contents</a>
</headder>
<main>
<body>
<h1 id="easydocs">easy docs</h1>
<p>Easy docs is your all in one AI powered companion with multi agentic abilities to read the documentations</p>
<p>currently Supported file formats: </p>
<ul>
<li>pdf files</li>
<li>DOCS (word files) </li>
<li>HTML (files used for web pages) </li>
<li> txt (plain text files) </li>
<li>md (mark down files)</li>
</ul>
<hr>
<h2>upload your docs</h2>
<p>
    brouz your files and hit ingest to get your documentation registered in the brain of AI!
</p>

<input type="file" id="documents" name="documents" multiple>
<label for="documents"> brouz documents </label> <br>
<button id="ingest" name="ingest"> ingest documents </button>

<p id="chunk_count" aria-live="assertive"></p>
<p> or enter the URL in the edit box below</p>
<input type="text" id="url" name="url">
<label for="url">enter URL hear: </label> <br>
<button id="send_url" name="send_url">ingest</button>
<p id="web_chunk" aria-live="assertive"></p>
<h3 id="prompt" name="prompt">chat with easy docs</h3>
<p id="response" aria-live="assertive"></p>
<input type="text" id="question" name="question">
<label for="question">type in your query:</label> <br>
<button id="ask" name="ask">ask away </button>
<script src="/static/scripts.js"></script>
<script src="/static/send_chat.js"> </script>
<script src="/static/ingest_url.js"></script>
</body>
</main>
</html>
